body
{
	background-image:repeating-conic-gradient(from 0 at 50% 0%, #012 0, #000 5deg, #001 10deg, #000 15deg, #012 20deg);
	height:100vh;
	align-items:center;
	animation:60s linear infinite rotate;
}
@keyframes rotate
{
	0%
	{
		transform:rotate(0);
	}
	100%
	{
		transform:rotate(360deg);
	}
}
.img50
{
	max-width:50%;
	width:100%;
	object-fit:contain;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.img25
{
	max-width:25%;
	width:100%;
	object-fit:contain;
}
.buttons
{
	margin:auto;
	text-align:center;
}