body
{
	background-image:repeating-conic-gradient(from 0 at 50% 0%, #012 0, #000 5deg, #001 10deg, #000 15deg, #012 20deg);
	height:100vh;
	align-items:center;
}
.img50
{
	max-width:50%;
}
.img25
{
	max-width:25%;
}